<style media="screen" lang="scss">

.graph {
    // background-color: rgba(107, 107, 110, 0.65)
}

.edge {
    stroke-width: 2px;
    stroke-opacity: 0.4;
}

.edge-active {
    stroke-opacity: 1;
    stroke-width: 3px;
}

.friend {
    stroke: rgb(57, 45, 195);
    stroke-width: 3px;
}

.casual {
    stroke: rgb(205, 116, 43);
}

.employer {
    stroke: rgb(68, 68, 68);
    stroke-dasharray: 10;
    animation: dash 25s infinite;
    stroke-width: 2px;
}

@keyframes dash {
    to {
        stroke-dashoffset: 100;
    }
}

.node {
    stroke: #555;
    stroke-width: 1.5px;
}

.node-active {
    stroke: #fff;
    stroke-width: 3.5px;
}

.site {
    stroke: rgba(#ece41b, 1);
    stroke-width: 2px;
}

.label {
    stroke: #323232;
    font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    stroke-width: .5;
    font-size: 12px;
    cursor: default;
}
.label-active {
    stroke: #201f1f;
    font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    stroke-width: .8;
    font-size: 14px;
    cursor: default;
}

.graph {
    // display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    // padding-bottom: 90%;
    /* aspect ratio */
    vertical-align: top;
    // overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 0;
}

.button-panel {
    z-index: 9999;
    right: 0;
    padding-left: 50px;
    padding-top: 5px;
}

</style>

<template>

<div>
    <div class="button-panel">

        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" @click="fetchNodes">
            <i class="material-icons">refresh</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
            <i class="material-icons">add</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
            <i class="material-icons">delete</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
            <i class="material-icons">link</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
            <i class="material-icons">archive</i>
        </button>
    </div>
    <div class="graph">


    </div>
    <editnode></editnode>
</div>

</template>

<script>

import * as d3map from './d3map'
import Editnode from './Editnode.vue'

export default {
    name: 'MapOrg',
    components: {
        Editnode
    },
    data() {
        return {
            baseApi: 'https://hgill.io/api',
            _site: null,
            _workers: null,
            _relations: null
        }
    },
    methods: {
        renderSite() {
                d3map.reset()
                this._workers = this._site.workers
                delete this._site['workers']
                this._site.site = true
                    // workers.push(this._site)
                console.log(this._workers)
                d3map.addNode(this._site)

                for (const worker of this._workers) {
                    d3map.addNode(worker)
                    d3map.addEdge({
                        source: this._site.id,
                        target: worker.id,
                        value: 150,
                        type: 'employer'
                    })
                }
            },
            renderRelations() {
                for (const rel of this._relations) {
                        d3map.addEdge(rel)
                }
                console.log(d3map.getState())
            },
            fetchNodes() {
                const getSite = this.$http({
                    url: this.baseApi + '/site',
                    method: 'GET'
                })

                getSite.then(function(site) {
                    if (site.ok) {
                        const siteId = site.data.result[0].id
                        console.log(siteId)
                        this.$http({
                                url: this.baseApi + '/site/' + siteId + '/withWorkers',
                                method: 'GET'
                            })
                            .then(function(res) {
                                this._site = res.data.result
                                    // console.log(this._site)
                                this.renderSite()
                                this.fetchRelations()
                            }, function(err) {
                                console.log(err)
                            })
                    }
                }, function(err) {
                    console.log(err)
                        // error callback
                })
            },

            fetchRelations() {
                const getRelations = this.$http({
                    url: this.baseApi + '/relation',
                    method: 'GET'
                })
                getRelations.then(function(res) {
                    this._relations = res.data
                    console.log(this._relations)
                    this.renderRelations()
                }, function(err) {
                    console.log(err)
                })
            }
    },
    ready() {
        // GET request
        d3map.init('.graph')
        this.fetchNodes()
    }
}

</script>
