<style media="screen" lang="scss">

.calculator {
    width: 21em;
    height: 27em;
    margin: 5em auto;
    border: 2px solid black;
    padding: .7em;
    background: #0f92eb;
    border-radius: 10px;
}

.result {
    display: block;
    height: 1.5em;
    width: 9em;
    border-radius: 3px;
    font-size: 2em;
    font-family: monospace monospace;
    direction: RTL;
    color: black;
    padding: 0em .2em;
    display: block;
    margin: 0.7em auto;
    background: rgba(90, 185, 85, 0.61);
}

.row {
    width: 100%;
    padding: 1em auto;
    margin: 0.4em auto;
}

.button {
    background-color: rgba(12, 13, 13, 0.68);
    display: inline-block;
    margin: 0.2em 0.2em;
    width: 2.8em;
    height: 2.1em;
    color: white;
    font-size: 1.5em;
    font-family: sans-serif;
    text-decoration: none;
    vertical-align: middle;
    border-top: 1px solid #96d1f8;
    padding: 12px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 1) 0 2px 0;
    text-shadow: rgba(0, 0, 0, 0.57) 0 1px 0;
    &:hover {
        border-top-color: #28597a;
        background: rgb(13, 106, 170);
        color: #ccc;
    }
    &:active {
        border-top-color: #1b435e;
        background: #1b435e;
    }
}

</style>

<template>

<div class="center">
    <h3>Javascript Calculator</h3>
    <div class="calculator shadowed">
        <input type="text" v-model="display" disabled="true" class="result">
        <div class="row">
            <button class="button" v-on:click="clickAllClear()"> AC </button>
            <button class="button" v-on:click="clickClear()"> C </button>
            <button class="button" v-on:click="clickPercentage()"> % </button>
            <button class="button" v-on:click="clickSqrt()"> √ </button>
        </div>
        <div class="row">
            <button class="button" v-on:click="clickButton(7)"> 7 </button>
            <button class="button" v-on:click="clickButton(8)"> 8 </button>
            <button class="button" v-on:click="clickButton(9)"> 9 </button>
            <button class="button" v-on:click="setOperator('devide')"> ÷ </button>
        </div>
        <div class="row">
            <button class="button" v-on:click="clickButton(4)"> 4 </button>
            <button class="button" v-on:click="clickButton(5)"> 5 </button>
            <button class="button" v-on:click="clickButton(6)"> 6 </button>
            <button class="button" v-on:click="setOperator('multiply')"> × </button>
        </div>
        <div class="row">
            <button class="button" v-on:click="clickButton(1)"> 1 </button>
            <button class="button" v-on:click="clickButton(2)"> 2 </button>
            <button class="button" v-on:click="clickButton(3)"> 3 </button>
            <button class="button" v-on:click="setOperator('minus')"> - </button>
        </div>
        <div class="row">
            <button class="button" id="btn0" v-on:click="clickButton(0)"> 0 </button>
            <button class="button" id="btnpoint" v-on:click="clickButton('.')"> . </button>
            <button class="button" id="btnPlus" v-on:click="setOperator('plus')"> + </button>
            <button class="button" id="btnequal" v-on:click="calculate()"> = </button>
        </div>
    </div>
</div>

</template>

<script>

export default {
    name: 'Calculator',
    data() {
        return {
            currentVal: '',
            previousVal: '',
            operator: '',
            oprIsSet: false
        }
    },
    methods: {
        clickButton(val) {
                if (this.oprIsSet) {
                    this.oprIsSet = false
                    this.currentVal = ''
                } else if (this.currentVal === '0') {
                    this.currentVal = ''
                }
                if (this.currentVal.length <= 16) {
                    if (val === '.' && this.currentVal.indexOf('.') === -1) {
                        this.currentVal += '.'
                    }
                    if (val !== '.') {
                        this.currentVal = this.currentVal.concat(val)
                    }
                }
            },
            getNumVal(val) {
                if (val.class !== 'undefined' && val.length > 0) {
                    return parseFloat(val)
                }
            },

            setOperator(opr) {
                this.operator = opr
                this.previousVal = this.currentVal
                this.oprIsSet = true
            },

            clickClear() {
                this.currentVal = ''
            },
            clickAllClear() {
                this.clickClear()
                this.previousVal = 0
                this.operator = ''
            },

            calculate() {
                let current = this.getNumVal(this.currentVal)
                let previous = this.getNumVal(this.previousVal)
                let result = 0
                if (this.operator === '') {
                    return
                }
                if (this.operator === 'plus') {
                    result = previous + current
                } else

                if (this.operator === 'minus') {
                    result = previous - current
                } else

                if (this.operator === 'multiply') {
                    result = previous * current
                } else

                if (this.operator === 'devide') {
                    result = previous / current
                }
                if (!isNaN(result)) {
                    this.currentVal = result.toString()
                }
                this.operator = ''
                this.oprIsSet = false
            },
            clickSqrt() {
                let num = this.getNumVal(this.currentVal)
                this.currentVal = Math.sqrt(num).toString()
            },
            clickPercentage() {
                if (this.operator === 'multiply') {
                    let current = this.getNumVal(this.currentVal)
                    let previous = this.getNumVal(this.previousVal)
                    this.currentVal = current / previous * 100
                    this.operator = ''
                    this.oprIsSet = false
                }
            }
    },
    computed: {
        // a computed getter
        display: function() {
            // `this` points to the vm instance
            let result = ''
            let current = this.currentVal
            let currentNumber = this.getNumVal(current)
            if (current === '' && !isNaN(currentNumber)) {
                result = '0'
            } else {
                result = current
            }

            if (this.getNumVal(current) > 999999999999999.9) {
                result = 'Too Big'
            }

            if (result.length > 15) {
                result = current.substring(0, 16)
            }
            return result
        }
    }

}

</script>
