<style media="screen" lang="scss">

$rasp1: #69D2E7;
$rasp2: #A7DBDB;
$rasp3: #E0E4CC;
$rasp4: #F38630;
$rasp5: #FA6900;
.profile-img img {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 400px;
    max-width: 80vw;
    max-height: 65vh;
    z-index: 200;
    animation: fadein 4s;
}

.heading-text {
    margin-top: 1vh;
    margin-bottom: 1vh;
    // font-family: 'Special Elite', cursive;
    font-family: 'Josefin Slab', serif;
    font-size: 3.1em;
    color: #27707e;
}

.description-text {
    font-family: 'Roboto', serif;
    font-size: 2em;
    line-height: 1.7;
    /*   margin: auto; */
    width: 1200px;
    max-width: 90vw;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    animation: fadein 2s;
    /*text-shadow: 4px 4px 4px #aaa;*/
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

</style>

<template>

<div class="page">

    <div class="profile-img">
        <img :src="portfolio" alt="Harry Gill">
    </div>
    <h1 class="center heading-text">Harry Gill</h1>
    <p class="description-text text-justify">I like playing with code, and create things that are useful. Having a totally different full-time career I mostly program for pleasure. <strong>C</strong> was my first programming language and I have done some work using <strong>C++(QT5) and Vala(GTK+)</strong>        for desktop apps. Currently <a href="http://freecodecamp.com/" target="_blank">learning</a> full stack web development, JavaScript <em>tooling</em> and frameworks. Thanks for stopping by and have fun.</p>
</div>

</template>

<script>

export default {
    name: 'Home',
    data() {
        return {
            portfolio: require('../assets/portfolio.svg')
        }
    }
}

</script>
